node_modules/
dist/
build/
data/

*.json
!package.json
!package-lock.json
!tsconfig.json
*.db
*.sqlite

.env
.env.*
!.env.example

*.log
npm-debug.log*

.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
.idea/
